body{
    background-color: black;
    color: #faede4;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#image{
    width: 50%;
    height: 50%;
    padding: 0%;
    max-width: 100%;
    height: auto;
}

#tribute-info{
    text-align: left;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center{
    text-align: center;
}

li{
    padding-bottom: 1%;
}